*.[ao]
*.l[ao]
*~
.deps
.libs
intl
bin
m4
autom4te.cache
Makefile
config.*
configure
ABOUT-NLS
COPYING
cardgames-cfg.h
stamp-h1
install-sh
missing
depcomp
libtool
ltmain.sh
aclocal.m4
*-po
*.sed
*.sin
*.pot
*.gmo
*.in
*.meta
CVS/
/build/
/_build/
